<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Thanks For Your Purchase, Dearests</title>
    <meta name="description" content="...">
    <meta name="keywords" content="...">
    <meta name="author" content="Tis The Morrow (Eero)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Social -->
    <meta property="og:title" content="...">
    <meta property="og:description" content="...">
    <meta property="og:image" content="../../assets/profile-image.png">
    <meta property="og:type" content="website">

    <meta name="twitter:title" content="...">
    <meta name="twitter:description" content="...">
    <meta name="twitter:image" content="../../assets/profile-image.png">

    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="tomorrow-me">
    <header class="header">
        <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
            <a href="../../index.html" class="text-xl font-bold display-heading">Tis The Morrow</a>
        </div>
    </header>

    <main>
    {{ content }}
    </main>

    <footer class="footer p-8 text-center display-heading">
        <div class="flex justify-center items-center mb-4">
            <ul class="list-none flex gap-2">
                <li><a href="" class="social-link p-4">BlueSky</a></li>
                <li><a href="" class="social-link p-4">Reddit</a></li>
            </ul>
        </div>
        <p>Website Created By Me (Tis The Morrow)</p>
        <p>&copy; 2025 Tis The Morrow</p>
    </footer>
    <script src="../../assets/thanks.js"></script>
</body>
</html>