@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, .inter-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.tomorrow-me {
    background-color: hwb(50 10% 0%);
    color: black;
}

.today-me {
    background-color: hwb(230 5% 80%);
    color: white;
}

@font-face {
  font-family: 'Rinter';
  src: url('/assets/Rinter/OpenType-PS/Rinter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, .display-heading {
  font-family: 'Rinter', sans-serif;
  letter-spacing: 0.10em;
}

.header {
    background-color: hwb(50 0% 95%);
    color: white;
}

.nav-link:hover {
    color: red;
}

.mobile-menu-content {
    border-color: hwb(50 0% 95%);
}

.svg-nav {
    stroke : white;
}

.footer {
    background-color: hwb(50 0% 95%);
    color: white;
}

.social-link:hover {
    color: red;
    text-decoration: none;
}

.creations-categories {
    background-color: hwb(50 0% 95%);
    color: white;
}